<div class='row'>
<% if @current_user.admin? %>
<%= button_to "New", new_oauthclient_path, :method => "get", style:'width:50px;' %>
<% end %>
<ol>
<%= will_paginate %>
<% @oauthclients.each do |oauthclient| %>
<li> <%= link_to oauthclient.provider, oauthclient_path(oauthclient) %>
<% if @current_user.admin? %>
    | <%= link_to "delete", oauthclient, method: :delete,
                                  data: { confirm: "You sure?" } %>
<% else %>
 | <%= link_to 'Authorize', "#{root_path}authorize/#{oauthclient.id}" %>
<% end %>
</li>
<% end %>
<%= will_paginate %>
</ol>
</div>
